html {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

h1 {
    text-decoration: underline;
}

#biostyle {
    font-weight: bold;
}

h2 {
    text-decoration: underline;
}

#textstyle {
    font-weight: bold;

}